@import '../../../styles/settings.scss';

$order-text-color: #212529;
$order-borders-color: #212529;

.row {
  .input {
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    padding-bottom: 6px;

    label {
      text-transform: uppercase;
      font-size: 10px;
      padding-left: 11px;
    }

    input {
      background: transparent;
      border-radius: 15px;
      border: 1px solid $order-borders-color;
      padding: 2px 10px;
    }
  }
}
