@import '../../../styles/settings.scss';

$product-text-color: #060605;
$product-btn-bg-color: #eac000;
$product-radio-color: #eac000;

.root {
  background: url('https://images.pexels.com/photos/6413585/pexels-photo-6413585.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center  fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 74px;
  color: $product-text-color;

  .container {
    padding: 24px 0;

    .wrapper {
      margin: auto;

      .content {
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding: 24px 16px;
        display: flex;
        font-weight: 500;

        .image_wrapper {
          height: 450px;
          padding: 12px;
          padding-right: 0;

          .img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          @include small {
            padding-right: 12px;
          }
          @include extra-small {
            height: 350px;
            margin-bottom: 12px;
          }
          @include extra-small {
            height: 300px;
            padding: 0;
          }
        }

        .details_wrapper {
          padding: 12px;
          padding-left: 28px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $product-text-color;
          font-size: 18px;

          span {
            text-transform: uppercase;
          }

          .details_title {
            font-size: 24px;
            text-transform: capitalize;
          }

          .details_size {
            margin-bottom: 4px;
          }

          .radio {
            display: block;
            position: relative;
            padding-left: 24px;
            margin-left: 12px;
            user-select: none;

            label {
              cursor: pointer;
            }
            input {
              position: absolute;
              opacity: 0;
              height: 0;
              width: 0;
              cursor: pointer;
            }
            .checkmark {
              position: absolute;
              top: 6px;
              left: 0;
              height: 16px;
              width: 16px;
              border: 1px solid $product-text-color;
              border-radius: 50%;

              &:after {
                content: "";
                position: absolute;
                display: none;
                width: 9px;
                height: 5px;
                border-left: 2px solid $product-radio-color;
                border-bottom: 2px solid $product-radio-color;
                transform: rotate(-45deg);
                top: 4px;
                left: 3px;
              }

              @include extra-extra-small {
                top: 2px;
              }
            }
            &:hover input ~ .checkmark {
              content: none;
            }
            input:checked ~ .checkmark:after {
              display: block;
            }
          }

          .details_quantity {
            input {
              margin-left: 6px;
              background: transparent;
              border-radius: 15px;
              border: 1px solid $product-text-color;
              padding: 0 18px;
              width: 72px;
              font-weight: 500;
            }
            * {
              display: inline-flex;
            }
          }

          .details_btn {
            margin: 0 auto;
          }

          @include medium {
            .details_description {
              font-size: 16px;
            }
          }
          @include small {
            padding-left: 12px;
            font-size: 16px;

            .details_title {
              font-size: 20px;
              font-weight: 700;
            }
            span {
              font-size: 14px;
              font-weight: 700;
            }
          }
          @include extra-small {
            > * {
              margin-bottom: 8px;
            }
            .details_description {
              font-size: 14px;
            }
            .details_quantity {
              height: 24px;
            }
          }
          @include extra-extra-small {
            padding: 0;
            font-size: 14px;
            margin-top: 12px;

            > * {
              margin-bottom: 6px;
            }
            .details_title {
              font-size: 18px;
            }
          }
        }
        @include small {
          flex-direction: column;
        }
      }
    }
  }
  @include extra-small {
    padding-top: 58px;
  }
  @include extra-extra-small {
    padding-top: 48px;
  }
}
