@import '../../../styles/settings.scss';

.root {
  .tabs {
    padding: 6px 12px 18px;

    .tab {
      .tab_link {
        color: $prodList-tab-text-color;
        text-transform: uppercase;
        font-weight: $prodList-nav-font-weight;
        padding: 12px;
        padding-bottom: 0;

        &:hover, &.active {
          color: $prodList-tab-text-hover;
        }
      }
    }
    @include small {
      font-size: 15px;
    }
    @include extra-small {
      font-size: 14px;
    }
    @include extra-extra-small {
      font-size: 13px;
    }
  }

  .products_wrapper {
    padding: 0 24px 36px;

    .product_wrapper {
      .product_card {
        height: 100%;
        border: none;
        border-radius: $prodList-border-radius;
        background: $prodList-card-bg-color;
        border-top: 1px solid $prodList-border-color;
        border-left: 1px solid $prodList-border-color;
        text-decoration: none;

        .card_body {
          text-align: center;

          .card_img {
            border-radius: $prodList-border-radius;
            height: 200px;
            object-fit: cover;
          }

          .card_title {
            color: $prodList-card-text-color;
          }

          .card_price {
            color: $prodList-card-text-color;
            text-transform: uppercase;
          }
        }
      }
    }
    @include extra-small {
      justify-content: center;
    }
  }
}
