@import '../../../styles/settings.scss';

.root {
  width: 100%;

  .subtotal, .delivery, .total {
    display: flex;
    justify-content: flex-end;

    span {
      margin-right: auto;
    }
  }

  .subtotal {
    margin: 0;
  }

  .total {
    border-top: 2px solid $sum-border-color;
    font-weight: $orderSum-font-weight-bold;
    text-transform: uppercase;
  }
}
