@import '../../../styles/settings.scss';

$order-text-color: #212529;
$order-borders-color: #212529;
$order-btn-bg-color: #eac000;

.root {
  background: url('https://images.pexels.com/photos/8215134/pexels-photo-8215134.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 74px;
  color: $order-text-color;

  [class^='_wrapper'] {
    padding: 0 12px;

    @include medium {
      border: none;
    }
    @include extra-extra-small {
      padding: 0;
    }
  }

  [class^='_title'] {
    text-transform: uppercase;
    padding-bottom: 6px;

    @include small {
      font-size: 16px;
      padding-bottom: 0;
    }
    @include extra-small {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .container {
    padding: 24px 0;

    .wrapper {
      margin: auto;

      .content {
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding: 24px 16px;
        display: flex;
        font-weight: 500;

        .main {
          display: flex;
          flex-direction: column;
          width: 70%;
          border-right: 2px solid $order-borders-color;
          padding-right: 16px;

          > :not(:last-child) {
            padding-bottom: 12px;
          }

          > :not(:first-child) {
            padding-top: 12px;
          }

          .orderForm {
            padding: 12px 6px;
          }

          .orderList {
            padding: 12px 0;

            > :not(:last-child) {
              border-bottom: 1px solid $order-borders-color;
              padding-bottom: 12px;
            }

            > :not(:first-child) {
              padding-top: 12px;
            }
          }

          .orderSummary {
            padding: 12px 0;
            text-align: center;

            .order_btn {
              margin: 12px;
            }
          }

          @include medium {
            width: 100%;
            border: none;
            padding-right: 0;

            > :not(:last-child) {
              padding-bottom: 6px;
            }
            > :not(:first-child) {
              padding-bottom: 6px;
            }
          }
          @include small {
            font-size: 14px;
          }
        }

        .aside {
          padding-left: 16px;
          min-height: 100%;
          width: 30%;

          .stickyBox {
            padding: 96px 12px 18px 24px;
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;

            .contactsBox_title {
              white-space: pre-line;
              text-transform: uppercase;
            }

            .contactsBox {
              padding-left: 18px;

              i {
                margin-right: 12px;
              }
            }
          }

          @include medium {
            width: 100%;
            padding-left: 0;

            .stickyBox {
              padding: 18px 12px 18px 12px;
            }
          }
          @include small {
            font-size: 14px;
          }
          @include extra-small {
            font-size: 12px;
          }
        }

        @include medium {
          flex-direction: column;
        }
      }
    }
  }

  @include extra-small {
    padding-top: 58px;
  }
  @include extra-extra-small {
    padding-top: 48px;
  }
}
