@import '../../../styles/settings.scss';

$nav-link-text-color: seashell;
$nav-link-text-hover: #eac000;

.root {
  * {
    color: $nav-link-text-color;
  }

  [class^='nav_link'] {
    text-transform: uppercase;
    color: $nav-link-text-color;
    font-weight: 500;
    padding: 12px;
    margin-left: 36px;
    text-decoration: none;

    &:hover {
      color: $nav-link-text-hover;
    }
  }

  .navbar {
    padding-top: 12px;

    .container {
      min-height: 60px;
      align-items: flex-start;
      padding-top: 6px;

      .nav_logo_wrapper {
        .nav_logo {
          padding: 12px;

          .logo {
            background: transparent;
            font-size: 24px;
            line-height: 18px;
            font-family: 'Fredericka the Great', cursive;
            color: $nav-link-text-color;
            text-decoration: none;
          }
        }

        @include medium {
          order: 1;
        }
        @include small {
          order: 2;
        }
        @include extra-small {
          .logo {
            line-height: 14px;
          }
        }
        @include extra-extra-small {
          display: none;
        }
      }

      .nav_menu_wrapper {
        .hamburger {
          display: none;

          i:before {
            font-size: 40px;
            padding: 4px;
          }
        }

        .nav_menu {
          display: flex;
        }

        @include medium {
          order: 2;

          .navbar {
            margin-left: 12px;
          }
        }
        @include small {
          order: 1;

          .hamburger {
            display: block;
          }

          .nav_menu {
            flex-direction: column;
            display: none;
          }
          .visible {
            display: flex;
          }
        }
        @include extra-small {
          font-size: smaller;

          .navbar {
            width: 100vw;
            padding-left: 20%;
          }
        }
      }

      .nav_right_wrapper {
        display: flex;
        order: 3;

        .nav_right {
          display: flex;

          .nav_right_link {

            @include medium {
              margin-left: 12px;
            }
            @include extra-small {
              font-size: smaller;
              margin-left: 0;
            }
          }
        }
      }
    }

    @include extra-extra-small {
      padding-top: 0;

      .container {
        border-radius: 0px 0px 15px 15px;
      }
    }
  }
}
