@import '../../../styles/settings.scss';

.root {
  background: $footer-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icons {
    width: 100%;
    display: inline-flex;
    justify-content: center;

    a {
      color: $footer-icons-text-color;
      opacity: 0.9;
      font-size: $footer-icons-font-size;
      padding: 8px 16px 0;

      @include extra-small {
        font-size: 20px;
      }
    }

    :nth-child(2) {
      margin: 0 20px;
    }
  }
  .paragraph {
    font-weight: $footer-text-font-weight;
    color: $footer-text-color;

    p {
      font-size: 14px;
      margin-bottom: 12px;

      @include extra-small {
        font-size: 11px;
      }
    }

    span {
      font-family: $footer-logo-font-fam;
      font-size: 18px;

      @include extra-small {
        font-size: 14px;
      }
    }
  }
}
