@import '../../../styles/settings.scss';

$cart-text-color: #212529;
$cart-borders-color: #212529;
$cart-btn-bg-color: #eac000;

.root {
  background: url('https://images.pexels.com/photos/8215134/pexels-photo-8215134.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 74px;
  color: $cart-text-color;

  .title {
    text-transform: uppercase;
    padding: 0 12px;
    margin-bottom: 18px;

    span {
      font-size: 18px;
      margin-left: 18px;
      text-transform: none;
    }

    @include extra-small {
      text-align: center;
    }
  }

  .container {
    padding: 24px 0;

    .wrapper {
      margin: auto;

      .content {
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding: 24px 16px;

        .emptyCartBox_wrapper {
          display: flex;
          flex-direction: column;

          .emptyCartBox {
            text-align: center;

            .cart_btn {
              padding: 4px 18px;
              border-radius: 12px;
              background: $cart-btn-bg-color;
              color: $cart-text-color;
              opacity: 0.9;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }

        .body {
          display: flex;
          font-weight: 500;

          .main {
            display: flex;
            width: 70%;
            border-right: 2px solid $cart-borders-color;
            padding-right: 16px;
            flex-direction: column;

            .productsList_wrapper {
              padding: 0 12px;
              padding-top: 28px;

              > :not(:last-child) {
                border-bottom: 1px solid $cart-borders-color;
                padding-bottom: 12px;
              }

              > :not(:first-child) {
                padding-top: 12px;
              }
            }

            @include medium {
              .productsList_wrapper {
                padding: 0;
                padding-top: 34px;
              }
            }
            @include small {
              width: 100%;
              border: none;
              padding-right: 0;

              .productsList_wrapper {
                border-right: none;
                padding-top: 18px;
              }
            }
            @include extra-small {
              .productsList_wrapper {
                height: 100%;
              }
            }
          }

          .aside {
            padding-left: 16px;
            min-height: 100%;
            width: 30%;

            .stickyBox {
              padding: 84px 12px 18px 12px;
              position: sticky;
              top: 0;

              .cartSummary {
                width: 100%;
                text-align: center;

                .subtotal, .delivery, .total {
                  display: flex;
                  justify-content: flex-end;

                  span {
                    margin-right: auto;
                  }
                }

                .subtotal {
                  margin: 0;
                }

                .total {
                  border-top: 2px solid $cart-borders-color;
                  font-weight: 700;
                  text-transform: uppercase;
                }

                .cart_btn {
                  margin: 12px auto;
                  padding: 4px 18px;
                  border-radius: 12px;
                  background: $cart-btn-bg-color;
                  color: $cart-text-color;
                  opacity: 0.9;
                  text-transform: uppercase;
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }
            @include medium {
              .stickyBox {
                padding: 84px 0 18px 0;
              }
            }
            @include small {
              width: 100%;
              padding-left: 0;

              .stickyBox {
                padding: 12px 0;

                .cartSummary {
                  border-top: 2px solid $cart-borders-color;
                  padding-top: 12px;
                  font-size: 14px;
                }
              }
            }
          }

          @include small {
            flex-direction: column;
          }
        }
        @include extra-small {
          padding: 16px 10%;
        }
        @include extra-extra-small {
          padding: 16px 5%;
        }
      }
    }
  }
  @include extra-small {
    padding-top: 58px;
  }
  @include extra-extra-small {
    padding-top: 48px;
  }
}
